.todoinput{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
    width: 500px; 
    border: none;
    padding: 10px;
}
.todoright{
    border: 10px solid black;
}
.notes-item{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 20px;
    margin: 15px;
    height: 200px;
    border-radius: 10px;
    background-color: #7670FF;

}
.todomain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: inherit;
} 
.left-side{
    display: fixed !important;
}
.todomain{
    background-color:#bfbcff ;
    height: 10000px;
    padding: 20px;
}
.todoitem{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.notesimg{
    height: 500px;
    width: 500px;
}
.todoinputTitle{
    font-family: sans-serif;
}