.passwordmain{
  background-color: #FEF3EB;
  height: 100vh;
}
  .generatedPasswordInput{
    width: 350px;
    border: none;
  }
  .generatedPassword{
    border : 1px solid black;
    padding: 10px;
    border-radius: 20px;
  }
  input[type=range] {
    -webkit-appearance: none;
    width: 205px;
    height: 5px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    background-color: aqua;
}
.passwordLength{
  margin-top: 15px;
}
.custom-control-input {
  left: 0;
  z-index: -1;
  width: 1.5rem;
  height: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 8px;
  margin-right:4px;
}
.passwordheading{
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}
.passwordrow{
  height: 100px !important;
}